/* .box{
    height: 300px;
    background-color: red;
    border: 1px solid green;
    margin: 50px 100px 10px 200px;
    padding: 100px 25px 50px 80px;
}
.edu{
    height: 50px;
    background-color: aqua;
    margin: 25px 300px; 
    padding: ; 
    width: 1400px;
} */
 .boxes{
    width: 1400px;
    height: 600px;
    background-color: red;
    /* background-image: url(./Images/download.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    /* opacity: .8; */
    /* background:linear-gradient(rgba(255, 255, 255, 0.657),rgba(188, 37, 37, 0.539),rgba(0, 0, 0, 0.067)), url(./Images/download.jpg); */
    border-radius: 20px 10px 5px 2px;
 }
 .text{
    /* color: blueviolet; */
    /* float: right; */
 }
 /* text properties */
 .text{
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    word-spacing: 20px;
    letter-spacing: 10px;
 }
 a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:oblique;
    text-align: center;
 }

 /* position */
 .newBox{
   margin-top: 100px;
   width:100% ;
   height: 10vh;
   background-color: yellow;
   /* position: fixed; */
   position: sticky;
   top: 0;
   /* left: 0; */
 }

 .boxes{
   /* position: relative; */
 }
 .boxes >a {
   position: absolute;
   top: 100px;
   left: 100px;
 }