.box{
    height: 300px;
    background-color: red;
    border: 1px solid green;
    margin: 50px 100px 10px 200px;
    padding: 100px 25px 50px 80px;
}
.edu{
    height: 50px;
    background-color: aqua;
    /* margin: 25px 300px; */
    /* padding: ; */
    width: 1400px;
}