.topSection{
    background-color: paleturquoise;
    text-align: center;
    height: 10vh;
}
.topSection >h1{
    padding-top: 2vh;
}
.heroSection{
    height: 500px;
    background-color: antiquewhite;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
}
.carrerObjective{
    background-color: red;
    width: 200px;
    height: 200px;
}
.myimage{
    background-color: purple;
    width: 200px;
    height: 200px;
}
.box2{
    /* flex-shrink: 0; */
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
}